.card-container {
  position: relative;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 225px;
}

.button-cont {
  position: absolute;
  left: 0;
  display: inline-block;
  overflow: auto;
  width: 200px;
  box-sizing: border-box;
  background-image: url('../assets/star-bg.jpg');
}
