.loader-div {
  height: 500px;
  width: 500px;
  margin: auto;
}

.loader-div p {
  line-height: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
