@import '../Button/Button.scss';
@import '../CardContainer/CardContainer.scss';
@import '../Scroll/Scroll.scss';
@import '../Loader/Loader.scss';
@import '../Card/Card.scss';

@font-face {
    font-family: starWarsFont;
    src: url('../assets/Starjout.ttf');
}

.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/star-bg.jpg');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 7em;
  font-family: starWarsFont;
  font-weight: lighter;
  margin: -25px;
  color: rgba(254, 218, 74, 1);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
